<a href="https://colab.research.google.com/github/naharsara/Data-Preprocessing-On-Irish-Dataset/blob/main/Data_Preprocessing_On_Iris_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
import pandas as pd

In [53]:
iris=pd.read_csv("/content/Iris_Data.csv")

# **Vewing Iris Dataset using** *'tail()','info()','describe()'*

In [61]:
iris.tail(10)

     sepal_length  sepal_width  petal_length  petal_width         species
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [62]:
iris.info(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [65]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

# Handling Duplicate values

In [55]:
# Check for duplicates
duplicates = iris[iris.duplicated()]
print("Number of duplicate rows:", len(duplicates))

# Drop duplicates
df = iris.drop_duplicates()

# Verify that duplicates have been removed
duplicates = df[df.duplicated()]
print("Number of duplicate rows after removal:", len(duplicates))

Number of duplicate rows: 3
Number of duplicate rows after removal: 0

In [56]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[147 rows x 5 columns]

# Columns Cleanup

In [57]:


# Rename columns
df = df.rename(columns={
    'sepal_length': 'input1',
    'sepal_width': 'input2',
    'petal_length': 'input3',
    'petal_width': 'input4',
    'species': 'Output'
})

# Verify column names
print(df.head())

   input1  input2  input3  input4       Output
0     5.1     3.5     1.4     0.2  Iris-setosa
1     4.9     3.0     1.4     0.2  Iris-setosa
2     4.7     3.2     1.3     0.2  Iris-setosa
3     4.6     3.1     1.5     0.2  Iris-setosa
4     5.0     3.6     1.4     0.2  Iris-setosa

# DataFrame slicing

In [58]:
# Slice based on rows using loc[]
x = df.loc[30:40, ['input1']]

# Slice based on rows using iloc[] index
y = df.iloc[30:40, 2:3]

print("Slice using loc[]:")
print(x)

print("Slice using iloc[]:")
print(y)
# Slice based on conditions using loc[]
z = df.loc[df['input3'] > 2.0, ['input1', 'Output']]

print("Slice using loc[] and condition:")
print(z)

Slice using loc[]:
    input1
30     4.8
31     5.4
32     5.2
33     5.5
35     5.0
36     5.5
38     4.4
39     5.1
40     5.0
Slice using iloc[]:
    input3
30     1.6
31     1.5
32     1.5
33     1.4
35     1.2
36     1.3
38     1.3
39     1.5
40     1.3
41     1.3
Slice using loc[] and condition:
     input1           Output
50      7.0  Iris-versicolor
51      6.4  Iris-versicolor
52      6.9  Iris-versicolor
53      5.5  Iris-versicolor
54      6.5  Iris-versicolor
..      ...              ...
145     6.7   Iris-virginica
146     6.3   Iris-virginica
147     6.5   Iris-virginica
148     6.2   Iris-virginica
149     5.9   Iris-virginica

[99 rows x 2 columns]

# selecting, extracting

In [59]:
# Select a single column
x = df['input1']

print("Selected column 'input1':")
print(x)
# Select multiple columns
y = df[['input1', 'input2']]

print("Selected columns 'input1' and 'input2':")
print(y)
# Extract rows based on conditions
setosa = df.loc[df['Output'] == 'Iris-setosa']

print("Rows with Output 'Iris-setosa':")
print(setosa.head(20))

Selected column 'input1':
0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: input1, Length: 147, dtype: float64
Selected columns 'input1' and 'input2':
     input1  input2
0       5.1     3.5
1       4.9     3.0
2       4.7     3.2
3       4.6     3.1
4       5.0     3.6
..      ...     ...
145     6.7     3.0
146     6.3     2.5
147     6.5     3.0
148     6.2     3.4
149     5.9     3.0

[147 rows x 2 columns]
Rows with Output 'Iris-setosa':
    input1  input2  input3  input4       Output
0      5.1     3.5     1.4     0.2  Iris-setosa
1      4.9     3.0     1.4     0.2  Iris-setosa
2      4.7     3.2     1.3     0.2  Iris-setosa
3      4.6     3.1     1.5     0.2  Iris-setosa
4      5.0     3.6     1.4     0.2  Iris-setosa
5      5.4     3.9     1.7     0.4  Iris-setosa
6      4.6     3.4     1.4     0.3  Iris-setosa
7      5.0     3.4     1.5     0.2  Iris-setosa
8      4.4     2.9     1.4     0.2  Iris-setosa
9      4.9     3.1     1.5     0.1  Iris-setosa
10     5.4     3.7     1.5     0.2  Iris-setosa
11     4.8     3.4     1.6     0.2  Iris-setosa
12     4.8     3.0     1.4     0.1  Iris-setosa
13     4.3     3.0     1.1     0.1  Iris-setosa
14     5.8     4.0     1.2     0.2  Iris-setosa
15     5.7     4.4     1.5     0.4  Iris-setosa
16     5.4     3.9     1.3     0.4  Iris-setosa
17     5.1     3.5     1.4     0.3  Iris-setosa
18     5.7     3.8     1.7     0.3  Iris-setosa
19     5.1     3.8     1.5     0.3  Iris-setosa